@import "variables";


$bg-color: black;
$color-g: grey;
$icon-color: #009cff;

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#all-container{
  width: 100vw;

  .container{
    width: 100%;
    background-color: $bg-color;
    color: white;
    padding: 15px 0px;

    .navbar-top{
      margin: auto;
      width: 1200px;
      height: 80px;

      ul{
        list-style: none;
        text-align: right;
      }

      li{
        display: inline-block;
        color: $color-g;
      }

      i{
        color: $icon-color;
        margin: 0px 5px 0px 15px;
      }

      select{
        margin-left: 15px;
      }

    }

    .navbar-down{
      margin: auto;
      width: 1200px;

      ul{
        list-style: none;
      }

      li{
        display: inline-block;
        margin: 0px 20px
      }
      i{
        vertical-align: middle;
        margin-left: 5px;
      }


    }


  }

  .main{

    height: 600px;
    width: 100vw;

    .jumbotron{
      background-image: url($bg-image);
      width: 100%;
      height: 100%;
    }


    &-after{
      @include clearfix;
    }



    &-software{
      height: 500px;
      float: left;
      margin-left: 700px;
      margin-top: 50px;

      li{
        list-style: none;
      }

      i{
        color: $color-g;
      }

   }
      &-price{
        margin-top: 50px;
        height: 200px;
        width: 300px;
        background-color: $bg-color;

        float: left;
        margin-left: 100px;


      }




  }



}
