@import "variables";


$bg-color: black;
$color-w: grey;
$icon-color: #009cff;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#all-container{
  width: 100vw;

  .container{
    width: 100%;
    background-color: $bg-color;
    color: white;
    padding: 15px 0px;

    .navbar-top{
      margin: auto;
      width: 1200px;
      height: 80px;

      ul{
        list-style: none;
        text-align: right;
      }

      li{
        display: inline-block;
        color: $color-w;
      }

      i{
        color: $icon-color;
        margin: 0px 5px 0px 15px;
      }

      select{
        margin-left: 15px;
      }

    }

    .navbar-down{
      margin: auto;
      width: 1200px;

      ul{
        list-style: none;
      }

      li{
        display: inline-block;
        margin: 0px 20px
      }
      i{
        vertical-align: middle;
        margin-left: 5px;
      }


    }


  }

  .main{
    height: 1000px;
    width: 100vw;

    // .jumbotron{
    //   background-image: url($bg-image);
    // }

  }



}
